@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components{
  .customHeight{
    position: relative;
    height: 90vh;
    background-image: url(./assets/images/homebg.jpg);
    background-size: cover;
  }
  .customHeight::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  min-width: 380px;
}